@font-face {
  font-weight: 700;
  font-family: "Din Pro";
  font-style: normal;
  src: url("../fonts/DINPro-Bold.ttf") format("ttf"), url("../fonts/DINPro-Bold.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Din Pro";
  font-style: normal;
  src: url("../fonts/DINPro-Medium.ttf") format("ttf"), url("../fonts/DINPro-Medium.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Din Pro";
  font-style: normal;
  src: url("../fonts/DINPro.ttf") format("ttf"), url("../fonts/DINPro.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Din Pro";
  font-style: normal;
  src: url("../fonts/DINPro-Light.ttf") format("ttf"), url("../fonts/DINPro-Light.woff") format("woff");
}

@font-face {
  
  font-family: "Lucida Grande";
  font-style: normal;
  src: url("../fonts/Lucida Grande.ttf") format("ttf"), url("../fonts/Lucida Grande.woff") format("woff");
}




body {
  font-family: "Din Pro";
  margin: 0 auto;
  background-color: #ffffff;
  color: #363636;
}